<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dataflair.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/data_flair"
        android:label="@string/app_name"
        android:roundIcon="@drawable/data_flair"
        android:supportsRtl="true"
        android:theme="@style/Theme.TouristGuide">
        <activity
            android:name=".HospitalActivity"
            android:exported="false" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".BusstationActivity" />
        <activity android:name=".PlacesActivity" />
        <activity android:name=".RestaurantActivity" />
        <activity android:name=".HotelActivity" />
        <activity android:name=".CitydetailsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>